<form [formGroup]="formGroup">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Model" formControlName="model">
        <mat-error *ngIf="formGroup.controls['model'].hasError('required')">
          Model is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Year" formControlName="year">
        <mat-error *ngIf="formGroup.controls['year'].hasError('required')">
          Year is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="formGroup.controls['year'].hasError('min')">
          A car must not be older than 20 years
        </mat-error>
        <mat-error
          *ngIf="formGroup.controls['year'].hasError('maxLength')
              || formGroup.controls['year'].hasError('max')
        ">
          The year is an incorrect value
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <mat-form-field class="full-width">
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of carTypes" [value]="type.value">{{type.title}}</mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.controls['type'].hasError('required')">
      Type is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
